<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
</head>

<%- include('partials/header') %>

    <body>

        <h2>Blog Posts:</h2>
        <ul>
            <% posts.forEach((post, index)=> { %>
                <li>
                    <a href="/posts/<%= index %>">
                        <%= post.title %>
                    </a>
                </li>
                <% }); %>
        </ul>
    </body>

    <%- include('partials/footer') %>

</html>